<div
  *ngIf="showModal"
  class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50"
>
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">{{ selectedProduct?.title }}</h2>
      <button (click)="closeModal()" class="text-gray-600">&times;</button>
    </div>
    <img
      [src]="selectedProduct?.image"
      alt="{{ selectedProduct?.title }}"
      class="w-full mb-4"
    />
    <p>{{ selectedProduct?.description }}</p>
    <p class="font-bold text-lg">${{ selectedProduct?.price }}</p>
    <button
      (click)="closeModal()"
      class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded mt-4"
    >
      Close
    </button>
  </div>
</div>
