<div class="grid grid-cols-2">
  <div class="grid grid-cols-2 gap-4 m-5">
    <div
      *ngFor="let product of products"
      class="bg-white p-4 shadow-md rounded-lg"
    >
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-xl font-bold">{{ product.title }}</h2>
      </div>
      <p>{{ product.description }}</p>
      <div class="flex gap-4">
        <button
          (click)="editProduct(product)"
          class="bg-blue-600 hover:bg-blue-700 text-white py-2 px-4 rounded mt-5 duration-75 active:scale-90"
        >
          Edit
        </button>
        <button
          (click)="deleteProduct(product.id)"
          class="bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded mt-5 duration-75 active:scale-90"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-xl font-bold mb-4">
        {{ editContent ? "Edit" : "Add" }} Product
      </h2>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="title" class="block text-sm font-medium text-gray-700"
          >Title</label
          >
          <input
            type="text"
            id="title"
            name="title"
            [(ngModel)]="product.title"
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        </div>
        <div class="mb-4">
          <label for="price" class="block text-sm font-medium text-gray-700"
          >Price</label
          >
          <input
            type="number"
            id="price"
            name="price"
            [(ngModel)]="product.price"
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        </div>
        <div class="mb-4">
          <label for="category" class="block text-sm font-medium text-gray-700"
          >Category</label
          >
          <input
            type="text"
            id="category"
            name="category"
            [(ngModel)]="product.category"
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        </div>
        <div class="mb-4">
          <label
            for="description"
            class="block text-sm font-medium text-gray-700"
          >Description</label
          >
          <textarea
            id="description"
            name="description"
            rows="3"
            [(ngModel)]="product.description"
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          ></textarea>
        </div>
        <div class="mb-4">
          <label for="image" class="block text-sm font-medium text-gray-700"
          >Image URL</label
          >
          <input
            type="url"
            id="image"
            name="image"
            [(ngModel)]="product.image"
            class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          />
        </div>
        <div class="flex justify-end">
<!--          <button-->
<!--            type="submit"-->
<!--            class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded mr-2"-->
<!--          >-->
<!--            {{ editContent ? "Save changes" : "Add product" }}-->
<!--          </button>-->
          <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded mr-2" type="submit">{{ editContent ? 'Save' : 'Add' }}</button>
          <button class="bg-gray-500 hover:bg-gray-600 text-white py-2 px-4 rounded mr-2" type="button" (click)="resetForm()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
